<!DOCTYPE html>
<html>
  <head>
    <title>English Note Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- 全ページ共通 CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- ページごとの追加 CSS を差し込む -->
    <%= yield :page_css %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="page-wrapper">
      <header>
        <div class="header-center">
          <div class="search-group">
            <div class="logo">Web Note</div>
            <div class="search-box">
              <input type="text" placeholder="Search notes...">
              <button>Search</button>
            </div>
          </div>
        </div>
        <div class="header-light">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
          <a href="/signup" class="signup-link">会員登録</a>
          <a href="/login" class="login-link">ログイン</a>
          <i class="fa-solid fa-bell"></i>
          <i class="fa-solid fa-heart"></i>
          <div data-controller="menu" class="menu-icon">
            <i class="fa-solid fa-bars" data-action="click->menu#toggle"></i>
          </div>
        </div>
      </header>

      <main>
        <%= yield %> <!-- 各ページのコンテンツ -->
      </main>

      <footer class="site-footer">
        <div class="footer-links">
          <a href="/terms">利用規約</a>
          <span>|</span>
          <a href="/privacy">プライバシーポリシー</a>
        </div>
        <p class="copyright">© 2025 Web Note</p>
      </footer>
    </div>
  </body>
</html>
