<!DOCTYPE html>
<html>
  <head>
    <title>English Note Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "users", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      /* フォームを中央に表示 */
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        padding: 20px;
      }

      form div {
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="header-center">
        <%= link_to "Web Note", root_path, class: "logo" %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
